#!/usr/bin/make -f
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
#CFLAGS = `dpkg-buildflags --get CFLAGS`
#CFLAGS += `dpkg-buildflags --get CPPFLAGS`

%:
	dh $@

override_dh_auto_clean:
	dh_auto_clean
	rm -rf CMakeFiles NO_PACK Testing bin po/CMakeFiles
	cp debian/po-bak/* po/

override_dh_auto_configure:
	cmake -DCMAKE_INSTALL_PREFIX="/usr" \
		-DCMAKE_VERBOSE_MAKEFILE=ON \
		-DCMAKE_SKIP_RPATH=ON \
		-DLIBEXEC_DIR=/usr/lib/ibus \
		-DSYSCONF_INSTALL_DIR=/usr/share \

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/ibus-chewing/usr/share/doc/ibus-chewing-*

